<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


	</head>
	<body >
    <div id="app">
        <nav class="navbar navbar-expand-md bg-light navbar-light">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Page 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Page 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Page 3</a>
                    </li>
                </ul>
                <div class="ml-auto">
                    <template v-if="!this.profile">
                        <a href="/openid/login"><img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png"></a>
                    </template>
                    <template v-else>
                        <div>
                            <h3>||this.profile.login||</h3>
                            <img width="30" height="30" :src="this.profile.avatarURL" alt="">
                        </div>
                        <button v-on:click="logOut">
                            Logout
                        </button>

                    </template>

                </div>



            </div>
        </nav>
        <div  class="container">
            <div  class="row">

                <div class="col-sm-12">
                    <h2>Your information</h2>
                    {{#if user}}
                        <img src="{{user.avatar}}"><br>
                        Your steamid: {{user.steamid}}<br>
                        Your name: {{user.personaname}}<br>
                        Your real name: {{user.realname}}
                    {{else}}
                        Login to see your info!
                    {{/if}}
                </div>
                <div>
                    <input id="some" name="some">
                    <button v-on:click="getMyData">
                        send
                    </button>
                </div>
                <div>
                    send code
                    <input id="code" name="code">
                    <button onclick="sendCode()">
                        sendCode
                    </button>
                </div>

                <input id="myFiles" type="file" multiple  />
                <button onclick="getFiles()">
                    sendFiles
                </button>


            </div>
            <div class="tradePanel row">
                <div class="col-5 tradeItems">
                    <ul v-for="item in myTradeItems" >
                        <li v-on:click="removeMyTradeIt(item.id)" style="padding: 3px;border: 1px solid #ddd; list-style-type: none">  <b style="font-size:12px; display: block">|| item.name ||</b>
                            <img width="50" height="50" :src=`http://cdn.steamcommunity.com/economy/image/${item.icon_url}` alt="">
                            <b style="font-size:8px; display: block">|| item.type ||</b>
                        </li>

                    </ul>
                </div>
                <div class="col-2">
                    <div class="trade">
                        <button v-on:click="createOffer()">TRADE</button>
                    </div>
                </div>
                <div class="col-5 tradeItems">
                    <ul v-for="item in partnerTradeItems" >
                        <li v-on:click="removePartnerTradeIt(item.id)" style="padding: 3px;border: 1px solid #ddd; list-style-type: none">  <b style="font-size:12px; display: block">|| item.name ||</b>
                            <img width="50" height="50" :src=`http://cdn.steamcommunity.com/economy/image/${item.icon_url}` alt="">
                            <b style="font-size:8px; display: block">|| item.type ||</b>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">

                <div class="itemsLeft col-6">
                    <div class="row">
                        <ul class="col-6" v-for="item in items">
                            <li v-on:click="addMyTradeIt(item.id)" style="padding: 3px;border: 1px solid #ddd; list-style-type: none">
                                <b style="font-size:12px; display: block">|| item.name ||</b>
                                <img width="50" height="50" :src=`http://cdn.steamcommunity.com/economy/image/${item.icon_url}` alt="">
                                <b style="font-size:8px; display: block">|| item.type ||</b>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="itemsRight col-6">
                    <div class="row">
                        <ul class="col-6" v-for="item in another">

                            <li  v-on:click="addPartnerTradeIt(item.id)" style="padding: 3px;border: 1px solid #ddd; list-style-type: none">
                                <b style="font-size:12px; display: block">|| item.name ||</b>

                                <img width="50" height="50" :src=`http://cdn.steamcommunity.com/economy/image/${item.icon_url}` alt="">
                                <b style="font-size:8px; display: block">|| item.type ||</b>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
        <script src="https://unpkg.com/vue-router"></script>
        <script>


            var router = new VueRouter({
                mode: 'history',
                routes: []
            });
            var app = new Vue({
                el: '#app',
                router,
                delimiters: ['||', '||'],
                data: {
                    message: 'Привет, Vue!',
                    data: 'Привет, Vue!',
                    items: [],
                    profile: false,
                    partnerTradeItems: [],
                    myTradeItems: [],
                    another: [],
                    icon_url: '-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KW1Zwwo4NUX4oFJZEHLbXK9QlSPcUxuwJOWE3ceOms3svWXRJ1NwdDv7maKRVh0PbaYgJN6uOinIW0mfjmJ7Oel3lS_MxytevT9I_wmkeLpBUDJzGmS9jKMEJmfw3Q81i6xebnhJK6uJ6fzCBksyd2tivYzkTh0B4faeBt16bPSAnIA_dXXP7VobGxc9s',
                },
                methods: {

                    addMyTradeIt(id){
                        const findItem =  this.items.findIndex((item)=>{
                            if(item.id == id) return item
                        })
                        const newItem = {...this.items[findItem], indexTrade:findItem}

                        this.myTradeItems.push(newItem)
                        this.items.splice(findItem, 1);

                    },
                    removeMyTradeIt(id){
                        const findItem =  this.myTradeItems.findIndex((item)=>{
                            if(item.id == id) return item
                        })
                        const newItem = {...this.myTradeItems[findItem]}
                        this.items.splice(newItem.indexTrade, 0, newItem);
                        this.myTradeItems.splice(findItem, 1);

                    },
                    addPartnerTradeIt(id){
                        const findItem =  this.another.findIndex((item)=>{
                            if(item.id == id) return item
                        })

                        const newItem = {...this.another[findItem], indexTrade:findItem}



                        this.partnerTradeItems.push(newItem)

                        this.another.splice(findItem, 1);

                    },
                    logOut(){
                       localStorage.setItem('tokenUser', '');
                        window.location = 'http://localhost:8888/'
                    },
                    createOffer(){
                        const trade =  {
                            itemsToGive: this.myTradeItems,
                            itemsToReceive: this.partnerTradeItems,
                            steamId: this.$route.query.steamid
                        }


                        fetch('/createOffer', {
                            method: 'POST', // *GET, POST, PUT, DELETE, etc.
                            mode: 'cors', // no-cors, cors, *same-origin
                            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                            credentials: 'same-origin', // include, *same-origin, omit
                            headers: {
                                'Content-Type': 'application/json',
                                // 'Content-Type': 'application/x-www-form-urlencoded',
                            },
                            redirect: 'follow', // manual, *follow, error
                            referrer: 'no-referrer', // no-referrer, *client
                            body: JSON.stringify({trade:trade}), // тип данных в body должен соответвовать значению заголовка "Content-Type"
                        })
                                .then(response => {
                                    console.log('asdas',response);
                                    return response.json();
                                }).then(data => {
                            // Work with JSON data here
                            console.log('data', data)
                            this.myTradeItems = []
                            this.partnerTradeItems = []
                            alert(data.mess)
                        }).catch(err => {
                            // Do something for an error here
                            console.log("Error Reading data " + err);
                            this.myTradeItems = []
                            this.partnerTradeItems = []
                        });
                    },
                    removePartnerTradeIt(id){
                        const findItem =  this.partnerTradeItems.findIndex((item)=>{
                            if(item.id == id) return item
                        })
                        const newItem = {...this.partnerTradeItems[findItem]}
                        this.another.splice(newItem.indexTrade, 0, newItem);
                        this.partnerTradeItems.splice(findItem, 1);
                    },
                    getMyData(id){
                        const tokenUser = localStorage.getItem('tokenUser');
                        fetch(`/getMyData/${id}`, {
                            method: 'POST', // *GET, POST, PUT, DELETE, etc.
                            mode: 'cors', // no-cors, cors, *same-origin
                            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                            credentials: 'same-origin', // include, *same-origin, omit
                            headers: {
                                'Content-Type': 'application/json',
                                // 'Content-Type': 'application/x-www-form-urlencoded',
                            },
                            redirect: 'follow', // manual, *follow, error
                            referrer: 'no-referrer',
                            body: JSON.stringify({sessionToken:tokenUser}),
                            // no-referrer, *client// тип данных в body должен соответвовать значению заголовка "Content-Type"
                        })
                                .then(response => {
                                    console.log('asdas',response);
                                    return response.json();
                                }).then(data => {
                            // Work with JSON data here
                            console.log('data', data)
                            if(data.authFalse){
                                window.location = data.urlRedirect
                            }
                            this.items = data.items
                            this.profile = data
                        }).catch(err => {
                            // Do something for an error here
                            console.log("Error Reading data " + err);
                        });
                    },
                    getAnother(){
                        fetch('/getData', {
                            method: 'GET', // *GET, POST, PUT, DELETE, etc.
                            mode: 'cors', // no-cors, cors, *same-origin
                            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                            credentials: 'same-origin', // include, *same-origin, omit
                            headers: {
                                'Content-Type': 'application/json',
                                // 'Content-Type': 'application/x-www-form-urlencoded',
                            },
                            redirect: 'follow', // manual, *follow, error
                            referrer: 'no-referrer', // no-referrer, *client

                        })
                                .then(response => {
                                    console.log('asdas',response);
                                    return response.json();
                                }).then(data => {
                            // Work with JSON data here
                            console.log('data', data)
                            this.another = data
                        }).catch(err => {
                            // Do something for an error here
                            console.log("Error Reading data " + err);
                        });
                    }
                },
                mounted() {
                    console.log('profile', this.profile)
                    const q = this.$route.query.steamid
                    if(q){
                        this.getMyData(q)
                    }
                    this.getAnother()
                }
            })
        </script>
    </div>

<script >


function getFiles(){
    var files = document.getElementById("myFiles").files;
    var myArray = [];
    var file = {};

   var data = new FormData()
   data.append('file', files[0])


    //stringify array
    console.log(JSON.stringify(myArray));
///auth/steam
       fetch('/sendZip', {
                                   method: 'POST', // *GET, POST, PUT, DELETE, etc.
                                   mode: 'cors', // no-cors, cors, *same-origin
                                   cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                                   credentials: 'same-origin', // include, *same-origin, omit

                                   redirect: 'follow', // manual, *follow, error
                                   referrer: 'no-referrer', // no-referrer, *client
                                   body: data, // тип данных в body должен соответвовать значению заголовка "Content-Type"
                               })
                               .then(response => response.json());
}
function getUser(){



                       let  val = document.getElementById('some').value
console.log('val', val)
                       fetch('/send', {
                               method: 'POST', // *GET, POST, PUT, DELETE, etc.
                               mode: 'cors', // no-cors, cors, *same-origin
                               cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                               credentials: 'same-origin', // include, *same-origin, omit
                               headers: {
                                   'Content-Type': 'application/json',
                                   // 'Content-Type': 'application/x-www-form-urlencoded',
                               },
                               redirect: 'follow', // manual, *follow, error
                               referrer: 'no-referrer', // no-referrer, *client
                               body: JSON.stringify({val:val}), // тип данных в body должен соответвовать значению заголовка "Content-Type"
                           })
                            .then(response => {
                                                                 console.log('asdas',response);
                                                                 return response.json();
                                                               }).then(data => {
                                                                 // Work with JSON data here
                                                                 console.log(data);
                                                               }).catch(err => {
                                                                 // Do something for an error here
                                                                 console.log("Error Reading data " + err);
                                                               });


}
function sendCode(){



                       let  code = document.getElementById('code').value

                       fetch('/sendCode', {
                               method: 'POST', // *GET, POST, PUT, DELETE, etc.
                               mode: 'cors', // no-cors, cors, *same-origin
                               cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                               credentials: 'same-origin', // include, *same-origin, omit
                               headers: {
                                   'Content-Type': 'application/json',
                                   // 'Content-Type': 'application/x-www-form-urlencoded',
                               },
                               redirect: 'follow', // manual, *follow, error
                               referrer: 'no-referrer', // no-referrer, *client
                               body: JSON.stringify({code:code}), // тип данных в body должен соответвовать значению заголовка "Content-Type"
                           })
                           .then(response => response.json());


}
</script>
        <style>
            .tradePanel{
                margin: 20px 0;
                padding: 10px;

            }
            .tradeItems{
                background: darkslategrey;
                min-height: 200px;
            }
            .trade{
                text-align: center;
            }
            .itemsRight{
                border-left: 2px solid #d423
            }
            .itemsLeft{
                border-right: 2px solid #d423
            }
        </style>

	</body>
</html>
