<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-md bg-light navbar-light">
		  <a class="navbar-brand" href="#">NodeJS example</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
			  <li class="nav-item">
				<a class="nav-link" href="#">Page 1</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Page 2</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Page 3</a>
			  </li>
			</ul>
			  <div class="ml-auto">
				  {{#if user}}
				  	<a href="/logout">Logout</a>
				  {{else}}
				  <a href="/auth/steam"><img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png"></a>
				  {{/if}}
			  </div>



		  </div>
		</nav>
<script >

function getUser(){



                       let  val = document.getElementById('some').value

                       fetch('/send', {
                               method: 'POST', // *GET, POST, PUT, DELETE, etc.
                               mode: 'cors', // no-cors, cors, *same-origin
                               cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                              // credentials: 'same-origin', // include, *same-origin, omit
                               headers: {
                                  'Content-Type': 'application/json',
                                          'Accept': 'application/json'
                                   // 'Content-Type': 'application/x-www-form-urlencoded',
                               },
                            //   redirect: 'follow', // manual, *follow, error
                            //   referrer: 'no-referrer', // no-referrer, *client
                               body: JSON.stringify({val:val}), // тип данных в body должен соответвовать значению заголовка "Content-Type"
                           })
                            .then(response => {
                                      console.log('asdas',response);
                                      return response.json();
                                    }).then(data => {
                                      // Work with JSON data here


                                      console.log(data);
                                    }).catch(err => {
                                      // Do something for an error here
                                      console.log("Error Reading data " + err);
                                    });


}
function sendCode(){



                       let  code = document.getElementById('code').value

                       fetch('/sendCode', {
                               method: 'POST', // *GET, POST, PUT, DELETE, etc.
                               mode: 'cors', // no-cors, cors, *same-origin
                               cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                               credentials: 'same-origin', // include, *same-origin, omit
                               headers: {
                                   'Content-Type': 'application/json',
                                   // 'Content-Type': 'application/x-www-form-urlencoded',
                               },
                               redirect: 'follow', // manual, *follow, error
                               referrer: 'no-referrer', // no-referrer, *client
                               body: JSON.stringify({code:code}), // тип данных в body должен соответвовать значению заголовка "Content-Type"
                           })
                           .then(response => response.json());


}
</script>
		<div class="container">
			<div class="row">

				<div class="col-sm-12">
					<h2>Your information</h2>
					{{#if user}}
					<img src="{{user.avatar}}"><br>
					Your steamid: {{user.steamid}}<br>
					Your name: {{user.personaname}}<br>
					Your real name: {{user.realname}}
					{{else}}
					Login to see your info!
					{{/if}}
				</div>
				<div>
				    <input id="some" name="some">
                    <button onclick="getUser()">
                        send
                    </button>
				</div>
				<div>
				send code
                    <input id="code" name="code">
                    <button onclick="sendCode()">
                        sendCode
                    </button>
                </div>

			</div>
		</div>
	</body>
</html>
